<main class="d-flex flex-column justify-content-center align-items-center">
    <h3 class="text-center mt-4 mb-2">Liste des livres</h3>
    <div class="d-flex justify-content-center flex-wrap div-display gap-2">
    <?php

        echo '<table class="table table-striped table-sm rounded table-hover table-fixed">';
        echo '<thead>';
        echo '<tr>';
        echo '<th class="px-2">Titre</td>';
        echo '<th class="px-2">Auteur</th>';
        echo '<th class="px-2">Type</th>';
        echo '<th class="px-2">Actions</th>';
        echo '</tr>';
        echo '</thead>';
        echo '<tbody>';
        foreach ($books as $bk) {
            echo '<tr>';
            echo '<td class="px-2 pt-3">'.$bk->getTitle().'</td>';
            echo '<td class="px-2 pt-3">'.$bk->getAuthor().'</td>';
            echo '<td class="px-2 pt-3">'.$bk->getType().'</td>';
            echo '<td class="px-2 pt-2">';
            echo '<div class="btn-group">';
            echo '<a href="#" class="btn btn-primary btn-sm">Voir</a>';
            echo '<a href="#" class="btn btn-success btn-sm">Editer</a>';
            echo '<a href="#" class="btn btn-danger btn-sm">Supprimer</a>';
            echo '</div>';
            echo '</td>';
            echo '</tr>';
        }
        echo '</tbody>';
        echo '</table>';


    /*      
    foreach($books as $bk) {
        echo '<div class="card" style="width: 18rem;">';
        echo '<div class="card-body">';
        echo "<h5 class='card-title'>".$bk['title']."</h5>";
        echo "<p>Auteur : ".$bk['author']."</p>";
        echo "<p>Type : ".$bk['type']."</p>";
        echo "<p class='card-text'>".$bk['description']."</p>";
        echo '<a href="#" class="btn btn-primary">Editer</a>';
        echo '<a href="#" class="btn btn-danger">Supprimer</a>';
        echo '</div>';
        echo '</div>';
  }
*/

/*

    echo '<table class="table">';
    echo '<tr>';
    echo '<th>Titre</td>';
    echo '<th>Auteur</th>';
    echo '<th>Type</th>';
    echo '<th>Actions</th>';
    echo '</tr>';
    foreach ($books as $bk) {
        echo '<tr>';
        echo '<td>' . $bk['title'] . '</td>';
        echo '<td>Auteur: ' . $bk['author'] . '</td>';
        echo '<td>Type: ' . $bk['type'] . '</td>';
        echo '<td><a href="#" class="btn btn-primary me-2">Editer</a>';
        echo '<a href="#" class="btn btn-danger">Supprimer</a></td>';
        echo '</tr>';
    }
    echo '</table>';
*/
    echo '<br>';
    //var_dump($book);
            ?>
    </div>
</main>